<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="font/bootstrap-icons.css" />
  </head>

  <body>
    <!-- SECCION 01 - CABECERA  -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">CAM</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#elclub">El Club</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#calendario">Calendario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/galeria">Galería</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/actividades">Actividades</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/socio">Haste Socio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-outline-success" type="submit">
                Loggin
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <!-- FIN SECCION 01 - CABECERA  -->

    <!-- SECCION 02 - ACTIVIDADES -->
    <section class="">
      <div class="container text-center">
        <div class="row">
          <h2>AQUI IRAN LAS ACTIVIDADES</h2>
        </div>
      </div>
    </section>
    <!-- FIN SECCION 02 - ACTIVIDADES-->

    <!-- SECCION 06 - FOOTER -->
    <footer class="bg-dark">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-12 col-sm-4">zona 1</div>
          <div class="col-12 col-sm-4">zona 2</div>
          <div class="col-12 col-sm-4">zona 3</div>
        </div>
      </div>
    </footer>

    <!-- FIN SECCION 06 - FOOTER -->

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
