<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="font/bootstrap-icons.css" />
  </head>

  <body>
    <!-- SECCION 01 - CABECERA  -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">CAM</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#elclub">El Club</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#calendario">Calendario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/galeria">Galería</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarScrollingDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Actividades
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarScrollingDropdown"
                >
                  <li>
                    <a class="dropdown-item" href="escuelademontana.html"
                      >Escuela de Montaña</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="altamontana.html"
                      >Alta Montaña</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="mediamontana.html"
                      >Media Montaña</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="senderismo.html"
                      >Senderismo</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="escalada.html">Escalada</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="refugios.html">Refugios</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="cartografia.html"
                      >Cartografía</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/socio">Hazte Socio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>
            </ul>
            <a
              href="/login"  
              class="btn btn-success"
              tabindex="-1"
              role="button"
              aria-disabled="true"
              >Ingresar</a
            >
            Ingresar
          </div>
        </div>
      </nav>
    </header>
    <!-- FIN SECCION 01 - CABECERA  -->

    <!-- SECCION 02 - INICIO -->
    <section class="fondoInicio">
      <div class="container text-center">
        <div class="row">
          <div class="clubi"></div>
          <div class="col-12" id="inicio">
            <img
              src="imagenes/LogoCAM.png"
              alt="logo"
              class="img-fluid mt-5 pt-5"
              style="height: 10rem"
            />
          </div>
          <h1 class="display-1 text-light m-0 p-0">Sentí la Montaña</h1>
          <h2 class="text-success text-center sombraText">
            El Deporte de Montaña Bien Hecho
          </h2>
        </div>
      </div>
    </section>
    <!-- FIN SECCION 02 - INICIO -->

    <!-- SECCION 03 - EL CLUB-->
    <section id="elclub" class="fondoClub">
      <div class="container-fluid">
        <div class="row align-items-start">
          <div class="clubi"><p></p></div>
          <col-12 class="text-center mt-5">
            <img
              src="imagenes/LogoCAM.png"
              alt="logo"
              class="img-fluid"
              style="height: 4rem"
          /></col-12>
          <div class="col-12 text-center mt-3">
            <h2 class="display-4 text-info text-center">El club</h2>
            <p class="fs-4 fw-light text-primary opacity-75">
              El Club Andinista Mendoza fue Creado el 12 de Abril del 1935.
            </p>
            <p class="mx-5">
              El Club Andinista Mendoza, también conocido como CAM, fue creado
              como “Club Alpinista Mendoza” por deportistas entusiastas que
              formalizaron el montañismo bajo un Club sin fines de lucro, con
              una visión de vanguardia. Nuestro primer presidente, Don Humberto
              Re, en su discurso inaugural, comentaba lo que aun hoy seguimos
              profesando:
            </p>
            <p class="bg-light bg-opacity-25 m-5 p-3">
              “Es menester conocer nuestra bella precordillera para entrenar y
              luego empezar en el Cordón del Plata para después iniciar
              expediciones más ambiciosas.
            </p>
            <button class="btn btn-primary">Ver más...</button>
          </div>
        </div>
      </div>
    </section>
    <!-- FIN SECCION 03 - EL CLUB-->

    <!-- SECCION 04 - CALENDARIO -->
    <section id="calendario" class="">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="clubi"></div>

          <h2 class="display-4 text-info text-center">Calendario 2021</h2>

          <div
            class="
              col-12 col-sm-3
              justify-content-center
              align-items-center
              text-center
              m-0
              p-0
            "
          >
            <img
              src="imagenes/avisos03.jpg"
              class="img-fluid m-2 p-2"
              alt=".Aviso Septiembre 01"
            />
          </div>

          <div
            class="col-12 col-sm-3 justify-content-center text-center m-0 p-0"
          >
            <img
              src="imagenes/clasestela.jpg"
              class="img-fluid m-2 p-2"
              alt="..."
            />
          </div>

          <div
            class="col-12 col-sm-3 justify-content-center text-center m-0 p-0"
          >
            <img
              src="imagenes/aviso01.jpg"
              class="img-fluid m-2 p-2"
              alt="..."
            />
          </div>

          <div
            class="col-12 col-sm-3 justify-content-center text-center m-0 p-0"
          >
            <img
              src="imagenes/avisos2.jpg"
              class="img-fluid m-2 p-2"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div
            class="
              col-12 col-sm-3
              justify-content-center
              align-items-center
              text-center
              m-0
              p-0
            "
          >
            <img
              src="imagenes/avisos2.jpg"
              class="img-fluid m-2 p-2"
              alt=".Aviso Septiembre 01"
            />
          </div>

          <div
            class="col-12 col-sm-3 justify-content-center text-center m-0 p-0"
          >
            <img
              src="imagenes/aviso01.jpg"
              class="img-fluid m-2 p-2"
              alt="..."
            />
          </div>

          <div
            class="col-12 col-sm-3 justify-content-center text-center m-0 p-0"
          >
            <img
              src="imagenes/avisos03.jpg"
              class="img-fluid m-2 p-2"
              alt="..."
            />
          </div>

          <div
            class="col-12 col-sm-3 justify-content-center text-center m-0 p-0"
          >
            <img
              src="imagenes/clasestela.jpg"
              class="img-fluid m-2 p-2"
              alt="..."
            />
          </div>
        </div>
      </div>
    </section>
    <!-- FIN SECCION 04 - CALENDARIO-->

    <!-- SECCION 05 - CONTACTO-->
    <section id="contacto" class="m-0 p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-6 m-0 p-0 fondoContacto">
            <p></p>
          </div>

          <div class="col-12 col-sm-6">
            <form action="">
              <h2 class="display-5 text-info mt-5 pt-5 mb-3 text-center">
                Contacto
              </h2>

              <div class="mx-5">
                <label for="nombreContacto" class="form-label">Nombre</label>
                <input
                  type="email"
                  class="form-control"
                  id="nombreContacto"
                  placeholder="Ingrese su nombre por ejemplo Juan Pérez"
                />
              </div>
              <br />

              <div class="mx-5">
                <label for="telefonoContacto" class="form-label"
                  >Teléfono de contacto</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="telefonoContacto"
                  placeholder="Ingrese su número de teléfono"
                />
              </div>
              <br />
              <div class="mx-5">
                <label for="emailContacto" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="emailContacto"
                  placeholder="jperez@gmail.com"
                />
              </div>
              <br />
              <div class="mx-5">
                <label for="mensajeContacto" class="form-label">Mensaje</label>
                <textarea
                  class="form-control"
                  id="mensajeContacto"
                  rows="6"
                ></textarea>
              </div>
              <div class="mx-5 mt-3 mb-4 text-center">
                <a class="btn btn-primary mt-3" href="#" role="button">
                  Enviar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- FIN SECCION 05 - CONTACTO-->

    <!-- SECCION 06 - FOOTER -->
    <footer class="bg-dark">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-12 col-sm-4">zona 1</div>
          <div class="col-12 col-sm-4">zona 2</div>
          <div class="col-12 col-sm-4">zona 3</div>
        </div>
      </div>
    </footer>

    <!-- FIN SECCION 06 - FOOTER -->

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
